body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    margin: 0;
}


.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 600px;
    margin-top: 80px;
}


video {
    width: 100%;
    border: 2px solid #333;
}

.controls {
    width: 60%;
    position: absolute;
    bottom: 10px;
    margin-left: 60%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(72, 74, 100, 0.5);
    padding: 12px 35px;
    border-radius: 10px;
}

.controls i {
    color: white;
    font-size: 25px;
    margin: 0 15px;
    cursor: pointer;
}

.controls i:hover {
    color: #000000;
}

#volumeBtn {
    position: relative;
    
}

.fas {
    padding: 0px 10px;
}

.time {
    color: white;
}


.myvideo-container {
    width: 100%;
    height: 100vh;
    background-color: #000;
  }